<h1 i18n="title">App0</h1>

<div>
  <h1 i18n="injection">Inyeccion</h1>
  <input type="text" [(ngModel)]="entrada" />
  <button (click)="addEntrada()" i18n="add">Añadir</button>

  {{ datos }}
</div>

<div class="filter">
  <input
    id="busqueda"
    type="text"
    placeholder="Escribe aqui para filtrar"
    [(ngModel)]="searchText2"
  />
</div>
<app-user
  *ngFor="let u of lista | filterBy : searchText : 'surname'"
  [(name)]="u.name"
  [(surname)]="u.surname"
  [admin]="u.admin"
  (selectedUser)="selectedUser($event)"
></app-user>

<button (click)="cambiaNombre()">Cambio de nombre</button>

<input [(ngModel)]="this.lista[0].name" />

<pre>
  {{ lista | json }}
</pre>

Prespuesto {{ importe | currency : 'Eur' }}

<p appResaltar color="orange">
  Ejemplo: {{ 'Un texto de ejemplo.' | uppercase | lowercase }}
</p>

<div appResaltar color="lightgreen">otro texto diferente</div>

<button (click)="consultar()">Consultar</button>
<div *ngIf="cargando" class="spinner">
  <img
    src="https://loading.io/assets/mod/spinner/spinner/lg.gif"
    alt="loading..."
  />
</div>
<app-pizza *ngFor="let p of pizzas" [pizza]="p"></app-pizza>
<div *ngIf="error" class="error">
  {{ error }}
</div>

<div>
  <h3>Detector de doble click</h3>
  <input id="t2" type="text" />
  <div id="z1" class="zona"></div>
  <div>{{ mensajes }}</div>
</div>

<div>
  <h3>Productor de observables</h3>
  <input type="text" (keypress)="t1OnClick($event)" />
  <input type="text" (keypress)="t2OnClick($event)" />
</div>

<router-outlet />
