<h1>App0</h1>

<div class="filter">
  <input
    type="text"
    placeholder="Escribe aqui para filtrar"
    [(ngModel)]="searchText"
  />
</div>
<app-user
  *ngFor="let u of lista | filterBy : searchText : 'surname'"
  [(name)]="u.name"
  [(surname)]="u.surname"
  [admin]="u.admin"
  (selectedUser)="selectedUser($event)"
></app-user>

<button (click)="cambiaNombre()">Cambio de nombre</button>

<input [(ngModel)]="this.lista[0].name" />

<pre>
  {{ lista | json }}
</pre>

Prespuesto {{ importe | currency : 'Eur' }}

<p appResaltar color="orange">
  Ejemplo: {{ 'Un texto de ejemplo.' | uppercase | lowercase }}
</p>

<div appResaltar color="lightgreen">otro texto diferente</div>

<router-outlet />
